
body{
	background-color: #1e1e1e;
}

h1{
	font-family: helvetica;
	color: white;
	text-align: center;
}

h4{
	font-family: helvetica;
		color: white;
	
}
h3{
	font-family: helvetica;
	color: white;
	text-align: center;
}

a{
		font-family: helvetica;
		color: white;
		text-decoration: none;
	
}